
body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("indir.jpg");
    background-size: cover;        
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}


header img {
    width: 80px;
    position: absolute;
    left: 20px;
    top: 20px;
    margin-top: -10px;
}

img::after {
    content: "";
    display: block;
    clear: both;
}


header {
    position: relative;
    border-top: 4px solid turquoise;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

/* Menü */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
   
}

/* İçerik */
section {
    text-align: center;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    

}
section:hover {
    transform: scale(1.5);
    cursor: pointer;
}


footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
    color: turquoise;
    text-align: center;
    padding: 10px;
}
footer button{
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: inline;
    float: right;
    margin-left: 15px;

}
footer::after {
    content: "";
    display: block;
    clear: both;
}

footer button:hover{
    background-color: darkorange;
    transform: scale(1.05);
}
footer .button2{
     padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: inline;
    float: right;
    margin: right 10px;

}
footer .button2:hover{
    background-color: darkorange;
    transform: scale(1.05);
}
